{
    "plugins": [
        "@babel/plugin-transform-arrow-functions",
        // "check-es2015-constants",
        "@babel/plugin-transform-block-scoping"
    ],
    "presets": [
        "@babel/preset-env"
    ],
    "env": {
        "test": {
            "plugins": ["@babel/plugin-transform-modules-commonjs"]
        }
    }
}